:root {
    --color-bg: #1a1a1aff;
    --color-text: #fceeef;
    --color-primary: #28513d;
    --color-primary-hover: #214332;
    --color-secondary: #304550;
    --color-secondary-hover: #273641;

    --font-text: Commissioner, sans-serif;
    --font-code: JetBrains Mono, monospace;

    --raduis-sm: 4px;
    --raduis-md: 8px;
    --raduis-lg: 12px;
}

* , ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* This acts as a defult. (According to my understanding) */

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100vh;
}